<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guest Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Guest Book</h1>
    <hr>
    <h2> Update Employee</h2>
    <form action="#" th:action="@{/saveEmployee}" th:object = "${employee}", method="POST">
        <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">
        <input type="text" th:field="*{phone}" placeholder="Phone" class="form-control mb-4 col-4">
        <input type="text" th:field="*{photo}" placeholder="Photo" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>

</div>
</body>
</html>